---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<main class="p-4 flex flex-col items-center justify-evenly h-screen">
        <div>
            <h1 class="text-blue font-bold text-9xl motion-opacity-in-0 -motion-translate-y-in-50 text-center">Page Not Found</h1>
            <h2 class="text-blue/60 font-bold text-6xl motion-opacity-in-0 -motion-translate-y-in-50 text-center">404</h1>
        </div>
        <div class="max-w-prose text-center">
            <p class="text-gray-700 text-2xl motion-opacity-in-0 -motion-translate-y-in-50 motion-delay-300">Sorry, the page you were looking for does not exist.</p>
            <a href="/" class="text-blue font-bold text-2xl motion-opacity-in-0 -motion-translate-y-in-50 motion-delay-300">Go back home</a>
        </div>
    </main>
</Layout>