---
import { Image } from 'astro:assets';
import Features from '../components/features.astro';
import Layout from '../layouts/Layout.astro';
import heroImage from '../assets/hero.png';
---

<Layout>
	<main class="p-4 flex flex-col items-center">
		<h1 class="text-blue font-bold text-9xl">Sterk.</h1>
		<div class="max-w-prose">
			<p class="text-gray-700 text-2xl ">A minimal workout tracker.</p>
		</div>
		<div class="flex flex-col items-center space-y-[32px] max-w-screen-lg">
			<a href="https://apps.apple.com/app/idYOUR_APP_ID" class="mt-8 bg-blue-100 text-blue font-bold py-2 px-4 rounded-full">
				Download on the App Store
			</a>
			<div class="overflow-hidden rounded-2xl">
				<Image src={heroImage} alt="hero" loading={"eager"}/>
			</div>
			<Features />
			<a href="https://apps.apple.com/app/idYOUR_APP_ID" class="mt-8 bg-blue-100 text-blue font-bold py-2 px-4 rounded-full">
				Download on the App Store
			</a>
		</div>
	</main>
</Layout>
