---
import SupportEmail from "../components/support-email.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="p-4 flex justify-center">
      <div class="max-w-prose">
        <div class="mb-6">
          <h1 class="text-2xl font-bold mb-2">Privacy Policy for Sterk</h1>
          <p class="text-gray-700">Effective Date: 20-12-2024</p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Introduction</h2>
          <p class="text-gray-700">
            Thank you for using Sterk! Your privacy is important to us. This
            Privacy Policy explains how Sterk collects, uses, and stores your
            data.
          </p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Data Collection</h2>
          <p class="text-gray-700">
            Sterk collects and stores the following types of data, all of which
            are entered by you:
          </p>
          <ul class="list-disc list-inside text-gray-700 mt-2">
            <li>
              <span class="font-bold">Saved Exercises:</span> Details about the
              exercises you log, including their names, bar weight, and whether
              they involve body weight or use of plates.
            </li>
            <li>
              <span class="font-bold">Labels:</span> Tags or categories you create
              to organize your exercises (e.g., muscle groups or workout types).
            </li>
            <li>
              <span class="font-bold">Workout Sets:</span> Data for each set,
              including the date, time, weight used, and repetitions performed.
            </li>
          </ul>
          <p class="text-gray-700 mt-4">
            <span class="font-bold">Sensitive Data:</span> Sterk does not collect
            any personal or sensitive data, such as your name, email, or health
            metrics.
          </p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Purpose of Data Collection</h2>
          <p class="text-gray-700">
            The data collected is used solely to enable the core functionality of
            the app, allowing you to log, track, and analyze your workouts. Sterk
            does not collect or use your data for marketing or other purposes.
          </p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Data Storage</h2>
          <p class="text-gray-700">
            <span class="font-bold">Location:</span> All data is stored locally on
            your device. Sterk does not upload your data to external servers or
            cloud services.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">Retention:</span> Your data is retained on your
            device until you choose to delete it. This can typically be done by
            clearing the app’s data or uninstalling the app.
          </p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">User Rights</h2>
          <p class="text-gray-700">
            <span class="font-bold">Data Access and Deletion:</span> You can manage
            and delete your data directly within the app. Sterk does not have
            access to your data and cannot assist in data retrieval or recovery.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">No Account Creation:</span> Sterk does not
            require account creation or collect any personal information.
          </p>
        </div>
    
        <div class="mb-4">
          <h2 class="text-lg font-bold mb-2">Children’s Privacy</h2>
          <p class="text-gray-700">
            Sterk is not designed for children under the age of 13. If you believe
            a child has been using the app, please contact us at
            <SupportEmail />.
          </p>
        </div>
    
        <div class="mb-6">
          <h2 class="text-lg font-bold mb-2">Contact Us</h2>
          <p class="text-gray-700">
            If you have any questions about this Privacy Policy, you can reach us
            at <SupportEmail />.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>