---
import SupportEmail from "../components/support-email.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="p-4 flex justify-center">
      <div class="max-w-prose space-y-4">
        <div>
          <h1 class="text-2xl font-bold mb-2">Privacy Policy for Sterk</h1>
          <p class="text-gray-700">Effective Date: December 21, 2024</p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">Introduction</h2>
          <p class="text-gray-700">
            Thank you for using Sterk! Your privacy is important to us. This
            Privacy Policy explains how Sterk collects, uses, and stores your
            data.
          </p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">Data Collection</h2>
          <p class="text-gray-700">
            Sterk collects and stores the following types of data, all of which
            are entered by you:
          </p>
          <ul class="list-disc list-inside text-gray-700 mt-2">
            <li>
              <span class="font-bold">Exercises:</span>  Details about the exercises you save, 
              including their names, bar weight, and whether they involve body weight or use of plates.
            </li>
            <li>
              <span class="font-bold">Labels:</span> Tags or categories you create
              to organize your exercises (e.g., muscle groups or workout types).
            </li>
            <li>
              <span class="font-bold">Workout Sets:</span> Data for each set,
              including the date, time, weight used, and repetitions performed.
            </li>
          </ul>
          <p class="text-gray-700 mt-4">
            <span class="font-bold">Sensitive Data:</span> Sterk does not collect any personal or sensitive data, 
            such as your name, email, location, health metrics, or unique device identifiers.
          </p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">Purpose of Data Collection</h2>
          <p class="text-gray-700">
            The data collected is used solely to enable the core functionality of the app, 
            allowing you to log, track, and analyze your workouts. 
            Sterk does not collect or use your data for marketing or other purposes. 
            Sterk is designed with privacy in mind and complies with applicable data protection laws, such as GDPR and CCPA, where relevant.
          </p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">Data Storage</h2>
          <p class="text-gray-700">
            <span class="font-bold">Location:</span> All data is stored locally on
            your device. Sterk does not upload your data to external servers or
            cloud services.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">Retention:</span> Your data is retained on your
            device until you choose to delete it. This can typically be done by
            clearing the app’s data or uninstalling the app.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">Backups:</span> We recommend that you regularly
            back up your data to prevent data loss in case of device failure or
            loss.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">Data Security:</span> Data stored on your device is as secure as the security measures of your device. 
            Sterk recommends using device encryption and strong passwords to protect your data.
          </p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">User Rights</h2>
          <p class="text-gray-700">
            <span class="font-bold">Data Access and Deletion:</span> You can manage
            and delete your data directly within the app. Sterk does not have
            access to your data and cannot assist in data retrieval or recovery.
          </p>
          <p class="text-gray-700 mt-2">
            <span class="font-bold">No Account Creation:</span> Sterk does not
            require account creation or collect any personal information.
          </p>
        </div>
    
        <div>
          <h2 class="text-lg font-bold mb-2">Updates to this Policy</h2>
          <p class="text-gray-700">
            This Privacy Policy is effective as of December 21, 2024. 
            We may update it from time to time. Please check this page for the latest version.
          </p>
        </div>

        <div>
          <h2 class="text-lg font-bold mb-2">Contact Us</h2>
          <p class="text-gray-700">
            If you have any questions about this Privacy Policy, you can reach us
            at <SupportEmail />.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>