---
import SupportEmail from "../components/support-email.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Support">
  <main class="p-4 flex flex-col items-center justify-evenly h-screen">
    <div class="text-center">
      <h1 class="text-blue font-bold md:text-9xl text-7xl motion-opacity-in-0 -motion-translate-y-in-50">Support</h1>
      <h2 class="text-blue/60 font-bold md:text-6xl text-4xl motion-opacity-in-0 -motion-translate-y-in-50">Need help?</h1>
    </div>
    <div class="max-w-prose text-center motion-opacity-in-0 -motion-translate-y-in-50 motion-delay-300">
      <p class="text-gray-700 text-2xl ">Mail us at</p>
      <p class="text-2xl font-bold">
        <SupportEmail />
      </p>
    </div>
  </main>
</Layout>