---
import { ClassValue, clsx } from "clsx";
import { twMerge } from "tailwind-merge";

export const cn = (...inputs: ClassValue[]) => {
  return twMerge(clsx(inputs));
};

const startPart = 2;

const largeFeatures = [
  {title: "Easily search for the exercise you need", description: "Search for an exercise using either labels or a classic searchbar." },
  {title: "View your exercise statistics", description: "Analyze your reps, weight, and trends to maximize perfomance." },
  {title: "Customize your exercises effortlessly", description: "Edit details like labels, weight settings and more to make logging a set easier." },
]
---

{largeFeatures.map((feature, i) => (
  <section id={`part${i + startPart}`} class={cn("h-screen max-w-screen-lg flex", {
    "justify-end": i % 2 === 0,
    "justify-start": i % 2 === 1,
  })}>
    <div class="w-1/2 justify-center items-center flex flex-col space-y-4">
      <h2 class="text-[48px]/[48px] font-bold" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-delay="200">{feature.title}</h2>
      <p class="text-gray-700 text-[32px]/8" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-delay="200">{feature.description}</p>
    </div>
  </section>
))}
