<footer class="bg-[#F2F2F7] py-8 mt-8">
  <div class="container mx-auto flex flex-col items-center">
    <div class="w-full max-w-screen-lg flex flex-col md:flex-row space-y-8 md:space-y-0 justify-between items-center mb-4 md:mb-0">
      <div >
        <h2 class="text-4xl font-bold text-blue">Sterk.</h2>
        <p class="text-gray-700">Workout tracking made easy.</p>
      </div>
      <div>
        <ul class="flex flex-col space-y-2 items-center md:flex-row md:justify-center md:space-y-0 md:space-x-4">
          <li><a href="/" class="hover:text-blue">Home</a></li>
          <li><a href="/privacy-policy/" class="hover:text-blue">Privacy Policy</a></li>
          <li><a href="/terms-of-service/" class="hover:text-blue">Terms of Service</a></li>
          <li><a href="/support/" class="hover:text-blue">Contact</a></li>
        </ul>
      </div>
      <div >
        <span>&copy; {new Date().getFullYear()} Sterk. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
